{% extends "base.html" %}

{% block form %}
<h1>Post a new blog entry</h1>

<hr/>
    
<form action="/user-posts" method="POST">
    <label for="title">Title:</label>
    <input id="title" type="text" name="blog-title" value="{{title_value}}"/>
    <span>{{etitle}}</span>
    
    <br>

    <label for="content">Content:</label>
    <input id="content" type="textarea" name="blog-content" value="{{body_value}}"/>
    <span>{{ebody}}</span>

    <br>

    <input type="submit" value="Enter" />
</form>

<hr/>

{% endblock %}