{% extends "base.html" %}

{% block form %}

{% if stitle != "" %}
<h1>{{stitle}}</h1>

<div>{{sbody}}</div>


{% endif %}

{% if stitle == "" %}


{% for post in pages.items %}
<h1><a href="./user-posts?entry={{post.id}}">{{post.title}}</a></h1>

<div>{{post.body}}</div>

<hr/>
{% endfor %}

{% if pages.has_prev %}
<a href="/page-posts?page={{pages.prev_num}}">Previous</a>
{% else %}
<span>Previous</span>
{% endif %}

{% if pages.has_next %}
<a href="/page-posts?page={{pages.next_num}}">Next</a>
{% else %}
<span>Next</span>
{% endif %}

{% endif %}


{% endblock %}